@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'forms.scss';

.school-hero{
    background-image: url('../../public/storage/images/school-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    background-image: url('../../public/storage/images/school-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 200px;
    width: 200px;
}